@CHARSET "EUC-KR";
.sectiondiv button,input[type="button"] {
	
	height: 30px;
	background-color: #cb5026;
	color: white;	
	width:100px;
	
}


  body {
	overflow-x: hidden;
	background-image:url("../images/background5.png");
	background-repeat: no-repeat;
}  
.image .floating1 {
	position: absolute;
	left: 93%;
	z-index: 1;
	top: 230px;
}

.image .floating2 {
	position: absolute;
	left: 83%;
	z-index: 2;
	top: 380px;
}

.image .floating3 {
	position: absolute;
	left: 83%;
	z-index: 3;
	top: 550px;
} 

.sectiondiv{
position: absolute;
left:10%;
width: 60.5%;
height:95%;
 z-index: -1; 

}
.sectiontitle
{	
margin-top:40px;
	margin-bottom: 90px;
	font-weight: bold;
}


#imageslide 
{
	z-index:2;
	width: 1200px;
	height: 300px;
	position: absolute;
	top:100px;
	/* background-image: url("/celab/images/mainimage/shoppingdiv.png"); */
}

.pointproductlist div
{

float:left;
margin-top:40px;
padding: 5px;
margin-left:50px;

}


.pointproductlist
{
	position: relative;
	top:10%;
	text-align: center;
	
}
.listnoproduct
{
	clear:both;
	position: relative;
	top:20px;
	left:30%;
}
.selectpoint
{
	position: relative;
	top:5%;
	left:11%;
	
}

.page .floating {
  position: absolute;
}
.page .floating:nth-child(1) {
  z-index: 4;
}
.page .floating:nth-child(2) {
  z-index: 3;
}
.page .floating:nth-child(3) {
  z-index: 2;
}
.page .floating:nth-child(4) {
  z-index: 1;
}
.page .floating:nth-child(5) {
  z-index: 0;
}